tests/aws_step_function/amazon-states-language.json
{"Comment": "AWS Step Functions Example", "StartAt": "SendMessage1",  "Version": "1.0",  "States": {   "SendMessage1": {    "Type": "Task",    "Resource": "${FunctionSendMessage.Arn}",    "Retry": [{     "ErrorEquals": ["States.TaskFailed"],     "IntervalSeconds": 2,     "MaxAttempts": 16,     "BackoffRate": 2    }],    "Next": "Wait1"   },   "Wait1": {    "Type": "Wait",    "Seconds": 3,    "Next": "FetchActivityCount1"   },   "FetchActivityCount1": {    "Type": "Task",    "Resource": "${FunctionFetchActivityCount.Arn}",    "Retry": [{     "ErrorEquals": ["States.TaskFailed"],     "IntervalSeconds": 2,     "MaxAttempts": 16,     "BackoffRate": 2    }],    "Next": "CheckActivityCount1"   },   "CheckActivityCount1": {    "Type": "Choice",    "Choices": [{     "Variable": "$.activities",     "NumericEquals": 0,     "Next": "SendMessage2"    }],    "Default": "Done"   },   "SendMessage2": {    "Type": "Task",    "Resource": "${FunctionSendMessage.Arn}",    "Retry": [{     "ErrorEquals": ["States.TaskFailed"],     "IntervalSeconds": 2,     "MaxAttempts": 16,     "BackoffRate": 2    }],    "Next": "Wait2"   },   "Wait2": {    "Type": "Wait",    "Seconds": 3,    "Next": "FetchActivityCount2"   },   "FetchActivityCount2": {    "Type": "Task",    "Resource": "${FunctionFetchActivityCount.Arn}",    "Retry": [{     "ErrorEquals": ["States.TaskFailed"],     "IntervalSeconds": 2,     "MaxAttempts": 16,     "BackoffRate": 2    }],    "Next": "CheckActivityCount2"   },   "CheckActivityCount2": {    "Type": "Choice",    "Choices": [{     "Variable": "$.activities",     "NumericEquals": 0,     "Next": "SendMessage3"    }],    "Default": "Done"   },   "SendMessage3": {    "Type": "Task",    "Resource": "${FunctionSendMessage.Arn}",    "Retry": [{     "ErrorEquals": ["States.TaskFailed"],     "IntervalSeconds": 2,     "MaxAttempts": 16,     "BackoffRate": 2    }],    "Next": "Done"   },   "Done": {    "Type": "Succeed"   }  } }
